#usertable {
    width: 100%;
    border-collapse: collapse; 
    margin-top: 20px;
    font-family: Arial, sans-serif; 
    table-layout: fixed;
}

#usertable th, #usertable td {
    border: 1px solid #ddd; 
    padding: 10px; 
    text-align: left; 
}

#usertable th {
    background-color: #4CAF50; 
    color: white; 
    font-weight: bold;
}


#usertable tr:nth-child(even) {
    background-color: #f2f2f2; 
}


#usertable tr:hover {
    background-color: #ddd; 
}


h2{
    text-align: center;
}



